{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": ["> 1%", "last 2 versions", "not ie <= 8"]
      }
    }],
    "stage-2"
  ],
  // 不配置lodash，会完全打包
  "plugins": ["transform-vue-jsx", "transform-runtime", "lodash"]
}
